html , body{
	margin: 0;
	padding: 0;
	
}

#header{
	margin-top: 0;
	padding-top: 0;
	background-image: url(../img.jpg);
	height: 50%;
	height: 400px;
	opacity: 0.8;
	width: 100%;
	background-color: green;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#header h1{
	color: blue;
	text-align: center;
	padding-top: 10%;
	font-size: 80px;
}

h4,  h3{
	color: green;
}

.about{
	
	background-color: yellow;
	height: 50%;
	text-align: center;
	padding-top: 5%;

}
.about p a{
	color: white;
	text-decoration: inherit;
	
	
}

.play{
	
	padding-bottom: 40%;

}

pre{
	margin-right: 5%;
	margin-left: 5%;

}